body {
	font-family: Helvetica, Arial, sans-serif;
}

.clear {
	clear: both;
}

:focus {
	outline: none;
}

a img {
	border: none;
}

#navbar {
	margin-top: 80px;
	float: left;
	width: 353px;
}

#logo {
	margin-bottom: 50px;
}

#navbar a {
	display: block;
	text-align: right;
	margin-top: 20px;
}

#content {
	width: 800px;
	float: left;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 287px;
	margin-bottom: 130px;
}

a.project-thumbnail {
	display: block;
	float: left;
	margin: 0 15px 15px 0;
	text-decoration: none;
}

a.project-thumbnail img {
	display: block;
}

.slideshow-bottom {
	clear: both;
	width: 600px;
	position: relative;
	padding-top: 10px;
}

.left-arrow,
.right-arrow {
	cursor: pointer;
	width: 82px;
	height: 23px;
}

.left-arrow {
	background: url('/img/BackButton.jpg');
}

.right-arrow {
	background: url('/img/NextButton.jpg');
	position: absolute;
	right: 0;
	top: 10px;
}



/* --------- SLIDESHOW ----------- */

.slideshow-screen {
	width: 600px;
	height: 400px;
	background-color: #505050;
	background-image: url('/img/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	position: relative;
}

.picture-container {
	width: 600px;
	height 400px;
	position: absolute;
	visibility: hidden;
}

.picture-container.active {
	
}

img.big-picture {
	max-width: 600px;
	max-height: 400px;
	display: block;
	margin: 0 auto;
}


.slideshow-sidebar {
	float: left;
}

.slideshow-thumbnail {
	width: 80px;
	height: 80px;
	background: black;

	opacity: 0.4;
	filter:alpha(opacity=40);
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
	
	cursor: pointer;
	display: block;
}

.slideshow-thumbnail:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.thumb-container.active .slideshow-thumbnail {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.thumb-container {
	width: 80px;
	height: 80px;
	background: black;
	margin: 0 0 15px 15px;
	border: 2px solid #CCC;
	
	transition: border-color 0.5s;
	-moz-transition: border-color 0.5s; /* Firefox 4 */
	-webkit-transition: border-color 0.5s; /* Safari and Chrome */
	-o-transition: border-color 0.5s; /* Opera */
}
.thumb-container.active {
	border-color: #bd282e;
}



/* --------- PROJECTS ----------- */

.project-content {
	clear: both;
	width: 600px;
	padding-top: 40px;
}

p.project-head {
	font-weight: bold;
}
